.playerColorQB
{
	background-color: #F8ADAA !important;
	color: #000000;
}
.playerColorRB
{
	background-color: #BCFAAD !important;
	color: #000000;
}
.playerColorWR
{
	background-color: #FEFBB6 !important;
	color: #000000;
}
.playerColorTE
{
	background-color: #FBD580 !important;
	color: #000000;
}
.playerColorK
{
	background-color: #CCB4F0 !important;
	color: #000000;
}

.playerColorLB
{
	background-color: #AFE1FF;
	color: #000000;
}
.playerColorDB
{
	background-color: #ACC8B4;
	color: #000000;
}
