.team-container {
	font-size: 76%;
	margin-left: auto;
	margin-right: auto;

}

.pure-table caption {
    color: #000;
    font: 100%/1 'Noto Sans Mono', monospace, sans-serif !important;
	font-size: 100%;
	font-style: normal;
    padding: 0 0 1em 0 !important;
    text-align: center;
/*    line-height: 3;*/
}

.pure-table td, .pure-table th {
    padding: 0.25em 0.5em;
}

#first-table .overscore {
	text-decoration: overline;
	text-decoration-thickness: 0.5px;
}

#first-table .underscore {
	text-decoration: underline;
	text-decoration-thickness: 0.5px;
	text-underline-offset: 5px;
}