.team-container {
	font-size: 80%;
}

.pure-table caption {
    color: #000;
    font: 100%/1 'Noto Sans Mono', monospace, sans-serif !important;
	font-size: 100%;
	font-style: normal;
    padding: 0 0 1em 0 !important;
/*    -webkit-text-stroke-width: .05px;
    -webkit-text-stroke-color: white;
*/    text-align: center;
/*    line-height: 3;*/
}

.pure-table td, .pure-table th {
    padding: 0.25em 0.5em;
}